<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440414914581-8gpsvcco136i2v9r24korv33njioa1b2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440414914581-8gpsvcco136i2v9r24korv33njioa1b2</string>
	<key>API_KEY</key>
	<string>AIzaSyAeYCtc66m64Fm3gWNZrC4G5es0Lj7Ai38</string>
	<key>GCM_SENDER_ID</key>
	<string>440414914581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.minowana.FirebaseFiles</string>
	<key>PROJECT_ID</key>
	<string>fir-users-1a7a9</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-users-1a7a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440414914581:ios:b1210a2db26ec3bd9ea61c</string>
</dict>
</plist>